/*  Main.css
    Wednesday, 3 June, 2015
    
    The Project
    Alexander Rhett Crammer
    Full Sail University  */

/* Master Reset */
/*  This reset was found at http://meyerweb.com/eric/tools/css/reset/. It's version is 2.0, 20110126  */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Structure */
body {
  background-color: #fd7f6a;
}

.container {
  margin: auto;
  width: 80%;
}

/* Top and Bottom Bars */
.bar {
  background-color: transparent;
  color: #fff;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  margin: auto;
  padding: 1%;
  text-align: center;
}

/* Top Bar */
.top-bar {
  box-shadow: inset 0em -1px #cbcbcb, 0 0 1px 1px #cbcbcb;
}

.top-bar * {
  display: inline-block;
}

/* Top Bar Navigation */
.top-bar-left, .top-bar-right {
  vertical-align: super;
  width: 34.584980237%;
}

.top-bar-left {
  text-align: left;
}

.top-bar-right {
  text-align: right;
}

/* Top Bar Links */
.top-bar a {
  padding: 20px;
}

.top-bar a:link, .top-bar a:visited {
  color: #fff;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.8em;
  font-weight: 200;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.top-bar a:hover {
  color: #dcdcdc;
}

.top-bar a:active {
  color: #888;
}

/* Title */
.top-bar header {
  font-family: "Abigail", sans-serif;
  font-size: 2.5em;
  margin-top: 1.5%;
}

/* Search Field */
.top-bar-right input {
  background-image: url("../Images/MagnifyingGlass.png");
  background-position: 6.5%;
  background-repeat: no-repeat;
  background-size: 10%;
  border: 2px solid #cbcbcb;
  border-radius: 50px;
  font-family: "Georgia", serif;
  font-size: 0.9em;
  font-style: italic;
  padding: 10px 10px;
  text-indent: 35px;
  width: 175px;
}

/* Links */
a:link, a:visited {
  color: #5F5F5F;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  transition: color 75ms;
}

a:hover {
  color: #2986c3;
  font-family: "Georgia", serif;
  font-style: italic;
}

a:active {
  color: #3e454c;
}

/* CTA */
.cta-container {
  background-color: aquamarine;
  box-shadow: inset 0em -1px #cbcbcb, 0 0 1px 1px #cbcbcb;
  height: 550px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.cta-container video {
  width: 100%;
}

.cta-container img[alt="Greeting.png"] {
  position: relative;
  top: -5%;
  left: 36.5%;
  width: 25%;
}

.cta-container img[alt="MeetTheTeam.png"] {
  position: relative;
  top: 0;
  left: 36.5%;
  width: 25%;
}

.cta-overlay {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#greeting, #meatTheTeem {
  position: relative;
  top: 0;
}

#greeting-dark {
  position: absolute;
  top: -50%;
}

#meatTheTeem {
  position: relative;
  left: 12.5%;
}

#meat-the-teem-dark {
  position: absolute;
  top: -31%;
  left: 12.5%;
}

/* Panels */
.panels {
  margin: 2.5% 2.44140625%;
  overflow: auto;
  width: 95.1171875%;
}

.panel {
  float: left;
  text-align: center;
  width: 33.333333334%;
}

.panels h4 {
  color: #fff;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  letter-spacing: 0.5px;
  margin: 2.5% auto 10%;
  text-transform: uppercase;
}

.panel-content {
  background-color: #fefefe;
  border-radius: 5px;
  margin: 4.6202714409%;
  padding: 4.6202714409%;
}

.panel img {
  width: 100%;
}

.panel .image-clip {
  height: 25em;
  overflow: hidden;
}

.panel:first-of-type .image-clip img {
  /* Set the images positions */
  position: relative;
  top: -16.5%;
  right: 22.5%;
  width: 130%;
}

.panel:first-of-type p {
  padding-top: 6.5%;
}

.panel:nth-of-type(2) p {
  padding-top: 6.5%;
}

.panel:nth-of-type(2) .image-clip img {
  position: relative;
  right: 50%;
  width: 225%;
}

.panel:nth-of-type(3) p {
  padding-top: 6.5%;
}

.panel:nth-of-type(3) .image-clip img {
  position: relative;
  right: 75%;
  width: 240%;
}

.panel p {
  color: #555;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.15px;
  line-height: 1.75em;
  padding: 0 1.8887970724% 5.6663912171%;
}

.panel .button {
  background-color: #48ADF0;
  border: 2px solid #3092D2;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  margin: 2.5% auto;
  padding: 0.75em 1.25em;
  width: 35%;
}

.panel a:link, .panel a:visited {
  text-decoration: none;
  transition: background-color 100ms, border-color 100ms;
}

.panel a:hover {
  background-color: #63BCF7;
}

.panel a:active {
  background-color: #2682BE;
  border-color: #3092D2;
}

.slide-box {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Map */
.map-container {
  background: url("../Images/Map.jpg") no-repeat 0 0;
  position: relative;
  height: 512px;
  width: 100%;
}

.map-container a.dot {
  background: url("../Images/Dot.png") no-repeat 0 0;
  background-size: contain;
  cursor: pointer;
  display: block;
  height: 12px;
  position: absolute;
  width: 12px;
}

/* Slides */
.slides {
  position: relative;
  overflow: auto;
}

.slides li {
  color: #fff;
  float: left;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 500px;
  list-style: none;
  padding-top: 2.5%;
  position: relative;
  text-align: center;
}

.slides h4 {
  letter-spacing: 2.5px;
  text-shadow: 1px 0 0 #81cffb, -1px 0 0 #fd7f6a;
}

.slides h4 {
  font-size: 1.35em;
}

.slides p {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0 auto;
  line-height: 200%;
  text-shadow: 2px 2px 0px grey;
  width: 35%;
}

.slides li:nth-of-type(1) {
  background-image: url("../Images/Phones/S6Edge.jpg");
  background-position: 10% 15%;
}

.slides li:nth-of-type(2) {
  background-image: url("../Images/Phones/Nexus6.jpg");
}

.slides li:nth-of-type(3) {
  background-image: url("../Images/Phones/OnePlus.jpg");
}

.slides li:nth-of-type(4) {
  background-image: url("../Images/Phones/HTCM9.jpg");
  background-size: cover;
}

/* Footer */
footer {
  background-color: #f5f6f6;
  padding: 5% 0;
  overflow: auto;
}

.footer-group {
  clear: left;
  float: left;
  position: relative;
  left: 6.5%;
  overflow: auto;
  padding: 2.5%;
  width: 35%;
}

footer h4 {
  color: #383838;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 6.5%;
  text-transform: uppercase;
}

/* Quick Links */
.footer-group:first-of-type a {
  display: block;
  margin: 5% auto auto 2.5%;
}

/* Social Links */
.footer-group:nth-of-type(2) li {
  /* Social Bubbles */
  float: left;
  margin: 2.5%;
  width: 8.9288049876%;
}

.footer-group:nth-of-type(2) img {
  width: 100%; /* Prevent social bubbles from spilling */
}

.footer-group:nth-of-type(2) li:nth-child(6) {
  /* Sixth Social Bubble */
  clear: left;
}

/* Subscription Email Address Field */
.footer-group:nth-of-type(3) form {
  margin-left: 2.5%;
}

.footer-group:nth-of-type(3) input[type="text"] {
  border: 1.5px solid #d7d7d7;
  letter-spacing: 0.25px;
  font-size: 0.75em;
  padding: 3.5% 0;
  text-indent: 6.5%;
  width: 62.5%;
}

.footer-group:nth-of-type(3) input[type="text"]:hover, .footer-group:nth-of-type(3) input[type="text"]:focus {
  font-family: "Georgia", serif;
  font-style: italic;
}

.footer-group:nth-of-type(3) input[type="submit"] {
  background-color: #4cd963;
  border: 2px solid #43bf58;
  color: #fff;
  font-size: 1.5em;
  padding: 1% 4.5% 3.25%;
}

/* Mobile Feature */
img[alt="MobileDevices.jpg"] {
  float: right;
  position: relative;
  right: 6.5%;
  width: 35%;
}

/* Bottom Bar */
.bottom-bar {
  box-shadow: 0 0 1px 1px #cbcbcb;
  font-size: 0.85em;
  line-height: 150%;
  padding: 2.5%;
  text-align: center;
}

.bottom-bar h3 {
  padding-top: 2.5%;
  font-family: "Abigail";
  font-size: 3em;
  margin: auto;
  position: relative;
  top: 0.5em;
  width: 30%;
}

.bottom-bar p:nth-of-type(1) {
  float: left;
  width: 30%;
}

.bottom-bar p:nth-of-type(2) {
  float: right;
  width: 30%;
}

/* Fonts */
@font-face {
  font-family: "Abigail";
  src: url("../Fonts/Abigail/Abigail.eot") format("embedded-opentype");
  src: url("../Fonts/Abigail/Abigail.woff") format("woff");
  src: url("../Fonts/Abigail/Abigail.svg") format("svg");
  src: url("../Fonts/Abigail/Abigail.otf") format("opentype");
  src: url("../Fonts/Abigail/Abigail.ttf") format("truetype");
}